{% if changes|length %}

<h3>{{ type | capitalize }}</h3>
<ul>
{% for change in changes %}
{% if change.source.isCommit %}
  <li><a href="{{ change.source.url }}">{{ change.source.id | slice(0, 6) }}</a> - {{ change.description|trim|raw }} - <a href="{{ change.source.userUrl }}">@{{ change.source.user }}</a></li>
{% elseif change.source.isPullRequest %}
  <li><a href="{{ change.source.url }}">#{{ change.source.id }}</a> - {{ change.description|trim|raw }} - <a href="{{ change.source.userUrl }}">@{{ change.source.user }}</a></li>
{% endif %}
{% endfor %}
</ul>
{% endif %}